.about {
  background-image: url("../../../public/images/creative/about-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}
.about .container {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .about .container {
    justify-content: center;
  }
}
.about .content {
  width: 50%;
}
@media (max-width: 767px) {
  .about .content {
      width: 80%;
  }
}
.about .content span {
  font-weight: bold;
  font-size: 25px;
}
.about .content h2 {
  color: orangered;
  padding: 30px 0;
}
.about .content p {
  line-height: 1.6;
  color: #747272;
  margin: 20px 0;
  font-weight: bold;
}
